{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
	<div class="ik-width-3-4">
		<article class="uk-article">
			<h2>{{ blog.name }}</h2>
			<p class="uk-article-meta">Publish at {{blog.created_at|datetime}}</p>
			<p>{{ blog.html_content|safe }}</p>
		</article>
		
		<hr class="uk-article-divider">
		
		{% if __user__ %}
		<h3>Comment</h3>
		<article class="uk-comment">
			<header class="uk-comment-header">
				<img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ __user__.image }}">
				<h4 class="uk-comment-title">{{__user__.name}}</h4>
			</header>
			<div class="uk-comment-body">
				<form id="form-comment" class="uk-form">
					<div class="uk-alert uk-alert-danger uk-hidden"></div>
					<div class="uk-form-row">
						<textarea rows="6" placeholder="say something" style="width:100%;resize:none;"></textarea>
					</div>
					<div class="uk-form-row">
						<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> Pulish comment...</button>
					</div>
				</form>
			</div>
		</article>
		{% endif %}	
		<hr class="uk-article-divider">
		<h3>Latest comment.</h3>
		<ul class="uk-comment-list">
		
		</ul>
	</div>
{% endblock %}