<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	<title>Sign in</title>
	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/uikit.gradient.css">
	<link rel="stylesheet" href="/static/css/uikit.awesome.css">
	<script src="/static/js/md5.js"></script>
	<script src="/static/js/awesome.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/uikit.min.js"></script>

</head>
<script>
</script>
<body>
	<div class="uk-width-2-3 uk-position-center" style="width:320px>
		<h1>User Registration</h1>
		<form id ='vm' v-on="submit:submit" class="uk-panel uk-panel-box uk-form uk-form-stacked">
			<div class="uk-alert uk-alert-danger uk-hidden"></div>
			<div class="uk-form-row">
				<label class="uk-form-label">Email : </label>
				<div class="uk-form-controls">
					<input v-model="email" type="text" maxlength="50" placeholder="Email" class="uk-width-1-1"
				</div>
			</div>
			<div class="uk-form-row">
				<label class="uk-form-label">Password : </label>
				<div class="uk-form-controls">
					<input v-model="password" type="text" maxlength="50" placeholder="type password here" class="uk-width-1-1"
				</div>
			</div>
			<div class="uk-form-row">
				<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i>Register</button>
			</div>
		</form>
	</div>
</body>
</html>